trigger:
  branches:
    include:
      - main
      - ContaineriseApp

pool:
  vmImage: 'ubuntu-latest'

variables:
  dockerRegistryServiceConnection: 'ACR-NREPortal'
  containerRegistry: 'uasnreportalacr.azurecr.io'
  tag: '$(Build.BuildId)'

stages:
  - stage: Build
    displayName: 'Build and Push Docker Images'
    jobs:
      - job: BuildAndPush
        displayName: 'Build and Push'
        steps:
          - task: Docker@2
            displayName: 'Build API Image'
            inputs:
              containerRegistry: '$(dockerRegistryServiceConnection)'
              repository: 'nre-portal-api'
              command: 'build'
              Dockerfile: 'WebAPI_NRE-Portal/WebAPI_NRE-Portal/Dockerfile'
              buildContext: 'WebAPI_NRE-Portal'
              tags: |
                $(tag)
                latest

          - task: Docker@2
            displayName: 'Push API Image'
            inputs:
              containerRegistry: '$(dockerRegistryServiceConnection)'
              repository: 'nre-portal-api'
              command: 'push'
              tags: |
                $(tag)
                latest

          - task: Docker@2
            displayName: 'Build MVC Image'
            inputs:
              containerRegistry: '$(dockerRegistryServiceConnection)'
              repository: 'nre-portal-mvc'
              command: 'build'
              Dockerfile: 'WebAPI_NRE-Portal/MVC_NRE-Portal/Dockerfile'
              buildContext: 'WebAPI_NRE-Portal'
              tags: |
                $(tag)
                latest

          - task: Docker@2
            displayName: 'Push MVC Image'
            inputs:
              containerRegistry: '$(dockerRegistryServiceConnection)'
              repository: 'nre-portal-mvc'
              command: 'push'
              tags: |
                $(tag)
                latest