# This is a basic workflow that is manually triggered

name: DTS Assign Labels

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
 issues:
   types:
     - opened
     - reopened

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  dts_assign_labels:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - run: gh issue edit "$NUMBER" --add-label "$LABELS"
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
          GH_REPO: ${{github.repository}}
          NUMBER: ${{github.event.issue.number}}
          LABELS: new request
